* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}

.card {
  background-color: #ffffff21;
  color: white;
  border-radius: 40px;
  padding: 16px;
}

.card h1 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
}

.mt-16 {
  margin-top: 16px;
  border-radius: 50px;
  background-color: rgb(94, 245, 57);
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: bold;
}

.card .btn-group {
  padding: 8px 12px;
  background: blue;
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
  border-radius: 50px;
  border: 1px solid blue;
  transition: ls cubic-bezier(0.075, 0.075, 0.082);
}

h1,
p {
  text-align: center;
}

.profile .avatar {
  max-width: 100%;
}

.card_body {
  border-radius: 100;
}
